body {
    font-family: Lato, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000019;
    background-image: url('gifs/num.gif');
    background-repeat: repeat;
    user-select: none;
}

.header {
    font-family: Consolas, sans-serif;
}

/* UIUC orange hex code: #FF5F05 */
.container {
    width: 800px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    border-width: medium;
    border-color: navy;
}

header {
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

header h1 {
    color: #333;
}

header p {
    color: #666;
}

section h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #eef;
}

.publications ul li {
    background-color: #eef;
}

.publication-list {
    list-style: none;
    padding-left: 0;
}

.publication-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5em;
}

.venue {
    min-width: 100px;
    font-weight: bold;
    color: #555;
    margin-right: 1em;
    flex-shrink: 0;
}

.publication-details {
    flex: 1;
}


.headshot {
    width: 100px; /* Or whatever small size you want */
    height: auto;
    margin-top: 10px;
}
